{% extends "_layout.html" %}
{% block head %}
<script>
  /* derived from https://www.w3schools.com/howto/howto_js_autocomplete.asp */
  function autocomplete(inp, arr) {
      /*the autocomplete function takes two arguments,
       the text field element and an array of possible autocompleted values:*/
      var currentFocus;
      /*execute a function when someone writes in the text field:*/
      inp.addEventListener("input", function(e) {
          let a, b, i, val = this.value;
          /*close any already open lists of autocompleted values*/
          closeAllLists();
          if (!val) { return false;}
          let tval = val.toUpperCase().replace(/[^\w\s]/gi, '');
          currentFocus = -1;
          /*create a DIV element that will contain the items (values):*/
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          /*append the DIV element as a child of the autocomplete container:*/
          this.parentNode.appendChild(a);
          /*for each item in the array...*/
          for (i = 0; i < arr.length; i++) {
              /*check if the item includes the text field value:*/
              if (arr[i].toUpperCase().replace(/[^\w\s]/gi, '').includes(tval)) {
                  /*create a DIV element for each matching element:*/
                  b = document.createElement("DIV");
                  /*make the matching letters bold:*/
                  b.innerHTML += arr[i];
                  /*insert a input field that will hold the current array item's value:*/
                  b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                  /*execute a function when someone clicks on the item value (DIV element):*/
                  b.addEventListener("click", function(e) {
                      /*insert the value for the autocomplete text field:*/
                      inp.value = this.getElementsByTagName("input")[0].value;
                      /*close the list of autocompleted values,
                       (or any other open lists of autocompleted values:*/
                      closeAllLists();
                  });
                  a.appendChild(b);
              }
          }
      });
      /*execute a function presses a key on the keyboard:*/
      inp.addEventListener("keydown", function(e) {
          if(document.getElementsByClassName("autocomplete-items").length == 0) { return; }

          let x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
              /*If the arrow DOWN key is pressed,
               increase the currentFocus variable:*/
              currentFocus++;
              /*and and make the current item more visible:*/
              addActive(x);
          } else if (e.keyCode == 38) { //up
              /*If the arrow UP key is pressed,
               decrease the currentFocus variable:*/
              currentFocus--;
              /*and and make the current item more visible:*/
              addActive(x);
          } else if (e.keyCode == 13) {
              /*If the ENTER key is pressed, prevent the form from being submitted,*/
              e.preventDefault();
              if (currentFocus > -1) {
                  /*and simulate a click on the "active" item:*/
                  if (x) x[currentFocus].click();
              }
          } else if (e.keyCode == 9) {
              closeAllLists();
          }
      });
      function addActive(x) {
          /*a function to classify an item as "active":*/
          if (!x) return false;
          /*start by removing the "active" class on all items:*/
          removeActive(x);
          if (currentFocus >= x.length) currentFocus = 0;
          if (currentFocus < 0) currentFocus = (x.length - 1);
          /*add class "autocomplete-active":*/
          x[currentFocus].classList.add("autocomplete-active");
      }
      function removeActive(x) {
          /*a function to remove the "active" class from all autocomplete items:*/
          for (let i = 0; i < x.length; i++) {
              x[i].classList.remove("autocomplete-active");
          }
      }
      function closeAllLists(elmnt) {
          /*close all autocomplete lists in the document,
           except the one passed as an argument:*/
          let x = document.getElementsByClassName("autocomplete-items");
          for (let i = 0; i < x.length; i++) {
              if (elmnt != x[i] && elmnt != inp) {
                  x[i].parentNode.removeChild(x[i]);
              }
          }
      }
      /*execute a function when someone clicks in the document:*/
      document.addEventListener("click", function (e) {
          closeAllLists(e.target);
      });
  }

  function add_tag_entry() {
      let container = document.getElementById("tags-container");
      let el = document.createElement("div");
      let input = document.createElement("input");
      el.setAttribute("class", "autocomplete");
      input.setAttribute("class", "add-form__row__input add-form__row__input--narrow");
      input.setAttribute("type", "text");
      input.setAttribute("name", "tag");
      el.appendChild(input);
      container.appendChild(el);
      container.appendChild(document.createTextNode(" "));
      autocomplete(input, ALL_TAGS);
  }

  var num_parts = 0;

  function add_part_entry() {
      num_parts += 1;
      let container = document.getElementById("parts-container");
      let position = document.getElementById("insert-parts-before");
      let url_row = document.createElement("div");
      let url_row_label = document.createElement("label");
      let url_row_input = document.createElement("input");
      url_row.setAttribute("class", "add-form__row");
      url_row_label.setAttribute("class", "add-form__row__label");
      url_row_label.setAttribute("for", `url-${num_parts}`);
      url_row_label.innerText = "Part URL";
      url_row_input.setAttribute("class", "add-form__row__input add-form__row__input--url");
      url_row_input.setAttribute("type", "text");
      url_row_input.setAttribute("name", "url");
      url_row_input.setAttribute("id", `url-${num_parts}`);
      url_row.appendChild(url_row_label);
      url_row.appendChild(url_row_input);
      let title_row = document.createElement("div");
      let title_row_label = document.createElement("label");
      let title_row_input = document.createElement("input");
      title_row.setAttribute("class", "add-form__row");
      title_row_label.setAttribute("class", "add-form__row__label");
      title_row_label.setAttribute("for", `title-${num_parts}`);
      title_row_label.innerText = "Part title";
      title_row_input.setAttribute("class", "add-form__row__input");
      title_row_input.setAttribute("type", "text");
      title_row_input.setAttribute("name", "title");
      title_row_input.setAttribute("id", `title-${num_parts}`);
      title_row.appendChild(title_row_label);
      title_row.appendChild(title_row_input);
      container.insertBefore(url_row, position);
      container.insertBefore(title_row, position);
  }
</script>
{% endblock %}
{% block body %}
<nav class="page-navigation"><a href="search">Return to search page</a></nav>
<form class="add-form" id="parts-container" action="/url" method="post" autocomplete="off">
  <div class="add-form__row">
    <label class="add-form__row__label" for="collection-title">Collection title</label>
    <input type="text" class="add-form__row__input" name="collection-title" id="collection-title">
  </div>

  <div class="add-form__row" id="tags-container">
    <label class="add-form__row__label" for="tag_0">Collection tags</label>
    <div class="autocomplete">
      <input class="add-form__row__input add-form__row__input--narrow" type="text" id="tag_0" name="tag">
    </div>
  </div>

  <div class="add-form__row">
    <input class="add-form__row__button" type="button" onclick="add_tag_entry()" value="Add tag">
  </div>

  <div class="add-form__row">
    <label class="add-form__row__label add-form__row__label--required" for="url">Part URL</label>
    <input type="text" class="add-form__row__input add-form__row__input--url" name="url" id="url" required>
  </div>

  <div class="add-form__row">
    <label class="add-form__row__label add-form__row__label--required" for="title">Part title</label>
    <input type="text" class="add-form__row__input" name="title" id="title" required>
  </div>

  <div class="add-form__row" id="insert-parts-before">
    <input class="add-form__row__button" type="button" onclick="add_part_entry()" value="Add part">
  </div>

  <div class="add-form__row">
    <label class="add-form__row__label" for="content">Page content (if scraping fails)</label>
    <textarea class="add-form__row__textarea" id="content" name="content"></textarea>
  </div>

  <div class="add-form__row">
    <input class="add-form__row__button add-form__row__button--submit" type="submit" value="Submit link">
  </div>
</form>

<script>
  const ALL_TAGS = {{ all_tags|tojson }};
  document.getElementsByName("tag").forEach(el => autocomplete(el, ALL_TAGS));
</script>
{% endblock %}
