{% extends "_layout.html" %}
{% block body %}
<form class="search-form">
  <input type="text" class="search-form__input" name="q" value="{% if q %}{{ q|e }}{% endif %}">
</form>
<p class="result-count">
  {% if results|length == 1 %}1 result{% else %}{{ count|e }} results{% endif %}
</p>
{% if results %}
<ol class="results">
  {% for result in results %}
  <li class="results__result">
    <h2 class="results__result__title"><a href="{{ result.url|e }}">{{ result.title|e }}</a></h2>
    <p class="results__result__url">{{ result.url|e }}</p>
    {% if result.fragment %}
    <p class="results__result__fragment">{{ result.fragment|safe }}</p>
    {% endif %}
    {% if result.tag %}
    <ul class="results__result__tags">
      {% for tag in result.tag %}
      <li class="results__result__tags__tag">{{ tag|e }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ol>
{% endif %}
{% if page > 1 %}
<div class="pagination">
  <h2 class="pagination__link"><a href="search?q={{ q|quote_plus }}&amp;page={{ (page-1)|e }}">Previous page</a></h2>
  <p class="pagination__info">Page {{ (page-1)|e }} of {{ pages|e }}.</p>
</div>
{% endif %}
{% if page < pages %}
<div class="pagination">
  <h2 class="pagination__link"><a href="search?q={{ q|quote_plus }}&amp;page={{ (page+1)|e }}">Next page</a></h2>
  <p class="pagination__info">Page {{ (page+1)|e }} of {{ pages|e }}.</p>
</div>
{% endif %}
{% endblock %}
